/*-------------- fonts -----------------*/
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-MediumItalic.eot");
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("../fonts/Montserrat/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-BoldItalic.eot");
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"), url("../fonts/Montserrat/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-BoldItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Italic.eot");
  src: local("Montserrat Italic"), local("Montserrat-Italic"), url("../fonts/Montserrat/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-LightItalic.eot");
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url("../fonts/Montserrat/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-LightItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.eot");
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"), url("../fonts/Montserrat/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBoldItalic.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/*-------------- base style -----------------*/
html,
body {
  background: #fff;
  font-family: "Montserrat", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  color: #496a76;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: #399ade;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

.link-green {
  color: #2cb97f;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  color: #496a76;
  margin-bottom: 10px;
}

h1,
.h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 1.2;
  color: #313140;
  margin-bottom: 40px;
}

h2,
.h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 29px;
  line-height: 1.2;
  color: #313140;
  margin-bottom: 20px;
}

h3,
.h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.2;
  color: #313140;
  margin-bottom: 10px;
}

h4,
.h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: #313140;
  margin-bottom: 10px;
}

h5,
.h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  color: #313140;
  margin-bottom: 10px;
}

h6,
.h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  color: #313140;
  margin-bottom: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-bottom: 100px;
}

.btn,
input[type="submit"].btn {
  display: inline-block;
  height: 49px;
  background: #eaa52c;
  border: 1px solid #eaa52c;
  border-radius: 3px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 47px;
  color: #fff;
  padding: 0 25px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  min-width: 100px;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover,
input[type="submit"].btn:hover {
  -webkit-box-shadow: 0px 14px 16px 0px rgba(192, 136, 39, 0.27);
          box-shadow: 0px 14px 16px 0px rgba(192, 136, 39, 0.27);
}

.btn_border,
input[type="submit"].btn_border {
  background: transparent;
  color: #eaa52c;
}

.btn_border:hover,
input[type="submit"].btn_border:hover {
  background: #eaa52c;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn_green,
input[type="submit"].btn_green {
  background: #35b35c;
  border-color: #35b35c;
  -webkit-box-shadow: 0px 14px 16px 0px rgba(53, 179, 92, 0.27);
          box-shadow: 0px 14px 16px 0px rgba(53, 179, 92, 0.27);
}

.btn_green:hover,
input[type="submit"].btn_green:hover {
  -webkit-box-shadow: 0px 5px 16px 0px rgba(32, 149, 68, 0.27);
          box-shadow: 0px 5px 16px 0px rgba(32, 149, 68, 0.27);
}

.btn_border.btn_green,
input[type="submit"].btn_border.btn_green {
  background: transparent;
  border-color: #35b35c;
  color: #35b35c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn_border.btn_green:hover,
input[type="submit"].btn_border.btn_green:hover {
  background: #0eb570;
  border-color: #0eb570;
  color: #fff;
  -webkit-box-shadow: 0px 14px 16px 0px rgba(53, 179, 92, 0.27);
          box-shadow: 0px 14px 16px 0px rgba(53, 179, 92, 0.27);
}

.btn_border.btn_white,
input[type="submit"].btn_border.btn_white {
  background: transparent;
  border-color: #fff;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn_border.btn_white:hover,
input[type="submit"].btn_border.btn_white:hover {
  background: #fff;
  border-color: #fff;
  color: #cc8506;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn_blue,
input[type="submit"].btn_blue {
  background: #48b8fb;
  border-color: #48b8fb;
  -webkit-box-shadow: 0px 14px 16px 0px rgba(28, 111, 163, 0.27);
          box-shadow: 0px 14px 16px 0px rgba(28, 111, 163, 0.27);
}

.btn_blue:hover,
input[type="submit"].btn_blue:hover {
  background: #cc8506;
  border-color: #cc8506;
  color: #fff;
  -webkit-box-shadow: 0px 14px 16px 0px rgba(28, 111, 163, 0.27);
          box-shadow: 0px 14px 16px 0px rgba(28, 111, 163, 0.27);
}

.code {
  background-color: #f7f7f7;
  border: 1px solid #e1e1e8;
  color: #d14;
  padding: 1px 4px;
  display: inline-block;
  font-family: monospace, arial;
  border-radius: 3px;
}

.h-text-left {
  text-align: left !important;
}

.h-text-center {
  text-align: center !important;
}

.h-text-right {
  text-align: right !important;
}

.h-text-justify {
  text-align: justify !important;
}

.h-text-uppercase {
  text-transform: uppercase !important;
}

.h-text-bold {
  font-weight: 700 !important;
}

/*-------------- Header -----------------*/
.header-top {
  background: #f1f9fd;
}

.header-top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__slogan {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.2;
  color: #7eb6d2;
}

.header-mid {
  padding: 20px 0;
  border-bottom: 1px solid #d5e8f1;
}

.header-mid__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-mid__logo {
  width: 156px;
}

.header-mid__address, .header-mid__contact {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;
  color: #407a92;
}

.header-mid__mail {
  font-size: 13px;
}

.header-mid__phone,
.header-mid__phone a {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.25;
  color: #407a92;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-mid__phone a:hover {
  color: #eaa52c;
}

.header-bottom {
  padding: 18px 0;
  border-bottom: 1px solid #d5e8f1;
}

/*-------------- Footer -----------------*/
.footer {
  background: #0a3857;
  color: #bbdbf0;
}

.footer-top {
  padding: 23px 0 18px;
  border-bottom: 1px solid #7dc1df;
}

.footer-top .main-menu__item,
.footer-top .main-menu__item a {
  font-size: 16px;
  color: #bbdbf0;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-mid {
  padding: 34px 0 45px;
}

.footer-mid__menu {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.footer-mid__info {
  text-align: right;
}

.footer-mid__address, .footer-mid__contact {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  color: #e5f6fd;
}

.footer-mid__contact {
  margin-top: 19px;
}

.footer-mid__mail,
.footer-mid__mail a {
  color: #fff;
}

.footer-mid__phone,
.footer-mid__phone a {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.25;
  color: #d9eef7;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-mid__phone {
  margin-bottom: 14px;
}

.footer-mid__phone a:hover {
  color: #eaa52c;
}

.footer-mid .social {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}

.footer-pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 25px;
}

.footer-pay__item {
  text-decoration: none;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-pay__item:not(:last-child) {
  margin-right: 2px;
}

.footer-pay__item:hover {
  opacity: 1;
}

.footer-bottom {
  padding: 17px 0;
  background: #043f61;
}

.footer-bottom__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  color: #95cce3;
  letter-spacing: 0.5px;
}

.footer-bottom__polit,
.footer-bottom__polit a {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  color: #5887a2;
  letter-spacing: 0.25px;
}

/*-------------- top-menu -----------------*/
.top-menu__list, .top-menu__item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.top-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-menu__item {
  position: relative;
}

.top-menu__item, .top-menu__link {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.2;
  color: #3d86ab;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.top-menu__link {
  display: inline-block;
  padding: 10px 0;
}

.top-menu__item:hover .top-menu__link {
  color: #0e5375;
  text-decoration: none;
}

.top-menu__item:not(:last-child) {
  margin-right: 20px;
}

.top-menu__arr {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 12px;
  position: relative;
}

.top-menu__arr::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 2px 0 2px;
  border-color: #3d86ab transparent transparent transparent;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
}

.top-menu__sub, .top-menu__sub-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.top-menu__sub {
  display: none;
  width: 242px;
  padding: 10px 15px 17px;
  background: #fff;
  -webkit-box-shadow: 0px 7px 25px 0px rgba(95, 95, 95, 0.27);
          box-shadow: 0px 7px 25px 0px rgba(95, 95, 95, 0.27);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
}

.top-menu__sub-item,
.top-menu__sub-item a {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.4;
  color: #3d86ab;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.top-menu__sub-item a:hover {
  color: #eaa52c;
  text-decoration: none;
}

.top-menu__sub-item:not(:last-child) {
  margin-bottom: 7px;
}

.top-menu__item:hover .top-menu__sub {
  display: inline-block;
}

/*-------------- main-menu -----------------*/
.main-menu__list, .main-menu__item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-menu__item,
.main-menu__item a {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.2;
  color: #1b93d1;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main-menu__item a:hover {
  color: #eaa52c;
  text-decoration: none;
}

.main-menu__item:not(:last-child) {
  margin-right: 10px;
}

/*-------------- subscribe -----------------*/
.subscribe {
  padding: 41px 0;
  background: -webkit-gradient(linear, left top, right top, from(#169fd9), to(#2a63b4));
  background: -o-linear-gradient(left, #169fd9 0%, #2a63b4 100%);
  background: linear-gradient(to right, #169fd9 0%, #2a63b4 100%);
  margin-top: 20px;
  position: relative;
}

.subscribe::before {
  content: '';
  display: block;
  width: 100%;
  height: 11px;
  background: url(../img/pattern_mail.png) repeat-x 0 0;
  position: absolute;
  top: -15px;
  left: 0;
}

.subscribe__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  margin-right: 30px;
}

.subscribe .form-subscribe::before {
  content: '';
  display: inline-block;
  width: 77px;
  height: 103px;
  background: url(../img/bg-mail.png) no-repeat center;
  margin-right: 15px;
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.form-subscribe input[type="text"],
.form-subscribe input[type="email"] {
  font-family: "Montserrat", Arial, sans-serif;
  height: 49px;
  width: 500px;
  padding: 0 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 47px;
  color: #496a76;
  border: 0;
  outline: 0;
  border-radius: 3px;
  margin-right: 30px;
}

.form-subscribe input[type="text"]::-webkit-input-placeholder, .form-subscribe input[type="email"]::-webkit-input-placeholder {
  color: #7a9db6;
}

.form-subscribe input[type="text"]::-moz-placeholder, .form-subscribe input[type="email"]::-moz-placeholder {
  color: #7a9db6;
}

.form-subscribe input[type="text"]:-ms-input-placeholder, .form-subscribe input[type="email"]:-ms-input-placeholder {
  color: #7a9db6;
}

.form-subscribe input[type="text"]::-ms-input-placeholder, .form-subscribe input[type="email"]::-ms-input-placeholder {
  color: #7a9db6;
}

.form-subscribe input[type="text"]::placeholder,
.form-subscribe input[type="email"]::placeholder {
  color: #7a9db6;
}

.form-subscribe input[type="submit"].btn {
  width: 171px;
}

.form-subscribe input[type="submit"]:hover {
  background-position: -40px -235px;
}

.form-subscribe input[type="text"]:focus {
  border-color: #eaa52c;
}

/*-------------- footer-menu -----------------*/
.footer-menu {
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid-column;
  margin-bottom: 37px;
}

.footer-menu__head {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #d0eefa;
  margin-bottom: 15px;
}

.footer-menu__list, .footer-menu__item {
  padding: 0;
  margin: 0;
  list-style: none;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid-column;
}

.footer-menu__item,
.footer-menu__item a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #3588bf;
}

.footer-menu__item a:hover {
  text-decoration: none;
}

.footer-menu__item:not(:last-child) {
  margin-bottom: 11px;
}

/*-------------- social -----------------*/
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social__item:not(:last-child) {
  margin-right: 15px;
}

.social__item_vk {
  background: #4a76a8;
}

.social__item_fb {
  background: #4267b2;
}

.social__item_in {
  background: -o-linear-gradient(45deg, #bb4bbf 0%, #c27612 100%);
  background: linear-gradient(45deg, #bb4bbf 0%, #c27612 100%);
}

.social__item::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.social__item_vk::after {
  width: 15px;
  height: 8px;
  background-position: -5px -5px;
}

.social__item_fb::after {
  width: 8px;
  height: 13px;
  background-position: -5px -20px;
}

.social__item_in::after {
  width: 12px;
  height: 12px;
  background-position: -5px -40px;
}

.social__item_vk:hover {
  background: #406690;
}

.social__item_fb:hover {
  background: #355491;
}

.social__item_in:hover {
  background: -o-linear-gradient(45deg, #a03fa3 0%, #a16312 100%);
  background: linear-gradient(45deg, #a03fa3 0%, #a16312 100%);
}
