/*-------------- check-doc -----------------*/
.check-doc{
	background: linear-gradient(45deg, rgba(220,142,7,1) 0%, rgba(234,165,44,1) 100%);
	color: #fff;

	&__content{
		display: flex;
		align-items: center;
		position: relative;
		min-height: 402px;
		padding: 30px 0;
		z-index: 2;
	}

	&__info{
		width: calc(100% - 300px);
		position: relative;
		z-index: 2;
	}

	&__title{
		@include font(normal, bold, 30px, 1.2, #fff);
		margin-bottom: 7px;
	}

	&__text{
		@include font(normal, normal, 19px, 1.2, #fff);
	}

	.btn{
		margin-top: 33px;
	}

	&__img{
		position: absolute;
		@include top-center;
		right: 0;
	}

	&__phone,
	&__phone a{
		@include font(normal, 500, 28px, 1, #fff);
		text-decoration: none;
		transition: all 0.3s ease;
	}

	&__phone{
		display: inline-block;
		vertical-align: middle;
		margin-left: 33px;
	}

	&__phone:hover{color: $color-blue;}

	&_right &__img{
		right: auto;
		left: 0;
	}

	&_right &__content{justify-content: flex-end;}
	&_right &__info{width: calc(100% - 502px);}
}

@media (max-width: 767px) {
	.check-doc{
		&__content{
			padding: 35px 0 45px;
			min-height: 0;
		}

		&__img{display: none;}
		&__info, &_right &__info{width: 100%;}
		&__title{font-size: 28px;}
		&__text{font-size: 17px;}
		&__btn{display: block;}

		&__phone{
			display: block;
			margin-left: 0;
			margin-top: 20px;
		}
	}
}