/*-------------- main-menu -----------------*/
.main-menu{
	&__list,
	&__item{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__list{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__item,
	&__item a{
		@include font(normal, 500, 17px, 1.2, #1b93d1);
	}

	&__item a:hover{
		text-decoration: none;
	}

	&__item:not(:last-child){
		margin-right: 10px;
	}
}