/*-------------- main-menu -----------------*/
.main-menu{
	&__list,
	&__item{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__list{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__item,
	&__item a{
		@include font(normal, 500, 17px, 1.2, #1b93d1);
		transition: all 0.2s ease;
	}

	&__item a:hover{
		color: $color-orange;
		text-decoration: none;
	}

	&__item:not(:last-child){
		margin-right: 10px;
	}
}

@media (max-width: 1349px) {
	.main-menu{
		&__item,
		&__item a{
			font-size: 15px;
		}
	}
}

@media (max-width: 991px) {
	.main-menu{
		&__item{
			text-align: center;
		}
	}
}

@media (max-width: 767px) {
	.main-menu{
		&__list{display: block;}

		&__item{
			display: block;
			padding: 7px 10px;
			background: #f1f9fd;
			border-radius: 3px;
		}

		&__item:not(:last-child){
			margin-right: 0;
			margin-bottom: 3px;
		}
	}
}