/*-------------- top-menu -----------------*/
.top-menu{
	&__list,
	&__item{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__list{
		display: flex;
		align-items: center;
	}

	&__item{
		position: relative;
	}

	&__item,
	&__link{
		@include font(normal, normal, 13px, 1.2, #3d86ab);
		transition: all 0.2s ease;
	}

	&__link{
		display: inline-block;
		padding: 10px 0;
	}

	&__item:hover &__link{
		color: #0e5375;
		text-decoration: none;
	}

	&__item:not(:last-child){
		margin-right: 20px;
	}

	&__arr{
		display: inline-block;
		vertical-align: middle;
		width: 15px;
		height: 12px;
		position: relative;
	}

	&__arr::after{
		content: '';
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 3px 2px 0 2px;
		border-color: #3d86ab transparent transparent transparent;
		position: absolute;
		@include top-center;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__sub,
	&__sub-item{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__sub{
		display: none;
		width: 242px;
		padding: 10px 15px 17px;
		background: #fff;
		box-shadow: 0px 7px 25px 0px rgba(95, 95, 95, 0.27);
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 10;
	}

	&__sub-item,
	&__sub-item a{
		@include font(normal, normal, 13px, 1.4, #3d86ab);
		transition: all 0.2s ease;
	}

	&__sub-item a:hover{
		color: $color-orange;
		text-decoration: none;
	}

	&__sub-item:not(:last-child){margin-bottom: 7px;}
}

@media (min-width: 992px) {
	.top-menu{
		&__item:hover &__sub{display: inline-block;}
	}
}