/*-------------- visa-process -----------------*/
.visa-process{
	margin-top: 70px;

	&__info{
		height: 100%;
		position: relative;
	}

	&__info::before{
		content: '';
		display: inline-block;
		width: 947px;
		height: 395px;
		background: url(#{$path-img}/bg-passport.png) no-repeat center;
		position: absolute;
		bottom: 0;
		left: -45px;
	}

	&__head{
		@include font(normal, 500, 35px, 1.35, $color-dark-blue);
		margin-bottom: 23px;
	}

	&__title{
		font-size: 38px;
		font-weight: bold;
	}

	&__img{
		margin-bottom: 83px;
	}
}