//Path
$path-img: "../img";
$path-fonts: "../fonts";

//Font
$font-site: 'Montserrat', Arial, sans-serif;

// Site
$color-black: #343435;
$color-dark-blue: #313140;
$color-blue: #496a76;
$color-light-blue: #399ade;
$color-green: #35b35c;
$color-orange: #eaa52c;
