<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Корпоративным клиентам</title>
	//= ../header/header-link.html
	</head>
	<body class="js-body">
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<section class="breadcrumb">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<ul class="breadcrumb__list">
									<li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Главная</a></li>
									<li class="breadcrumb__item">Корпоративным клиентам</li>
								</ul>
							</div>
						</div>
					</div>
				</section>

				<section class="head-page">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<h1>Корпоративным клиентам</h1>
							</div>
						</div>
					</div>
				</section>

				<section>
					<div class="container">
						<div class="row">
							<div class="col-12">
								<p>В XXI веке не возможно представить деловую жизнь без командировок, встреч с партнерами и конференций.</p>

								<p>Необходимо везде успевать и вовсе не хочется отвлекаться на всякие мелочи, такие как: поиск билета на поезд или самолет, бронирование гостиничного номера, аренду автомобиля, оформление виз, приглашения и тому подобное.</p>

								<p>Проведение корпоративных мероприятий является неотъемлемой частью развития любой компании, помогает решать внутрикорпоративные и внешнеэкономические вопросы. Наши менеджеры имеют большой опыт в организации корпоративных туров.</p>
							</div>
						</div>
					</div>
				</section>

				<section class="org-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h2">Организуем</div>
							</div>
						</div>

						<div class="row">
							<div class="col-12">
								<div class="problems">
									<div class="problems__item">
										<div class="problems__icon">
											<img src="upload/ic-plane.png" alt="">
										</div>

										<div class="problems__content">
											<div class="problems__label">Деловые встречи, презентации, семинары, тренинги</div>
										</div>
									</div>
								
									<div class="problems__item">
										<div class="problems__icon">
											<img src="upload/ic-plane.png" alt="">
										</div>

										<div class="problems__content">
											<div class="problems__label">Поощрительные поездки</div>
										</div>
									</div>
								
									<div class="problems__item">
										<div class="problems__icon">
											<img src="upload/ic-plane.png" alt="">
										</div>

										<div class="problems__content">
											<div class="problems__label">Конференции, форумы, конгрессы</div>
										</div>
									</div>
								
									<div class="problems__item">
										<div class="problems__icon">
											<img src="upload/ic-plane.png" alt="">
										</div>

										<div class="problems__content">
											<div class="problems__label">Корпоративные события, спортивные сборы</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section><!-- end problems-wrap -->

				<section class="need-doc">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h2">Предоставим</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="need-doc__img">
									<img src="upload/girl.png" alt="" style="margin-top: -45px;">
								</div>
							</div>

							<div class="col-md-5">
								<div class="need-doc__content">
									<div class="need-doc-list">
										<div class="need-doc-list__item">
											<div class="need-doc-list__title">Мобильный офис</div>

											<div class="need-doc-list__text">
												Выезд специалиста с предоставлением презентаций, консультаций, необходимой документации в офис клиента в удобное время.
											</div>
										</div>

										<div class="need-doc-list__item">
											<div class="need-doc-list__title">Персонального менеджера</div>

											<div class="need-doc-list__text">Отвечающий за заказы обслуживаемой компании</div>
										</div>

										<div class="need-doc-list__item">
											<div class="need-doc-list__title">Удобную форму оплаты</div>

											<div class="need-doc-list__text">Осуществление платежей за услуги в любой удобной форме: безналичная, наличная оплата, кредитные карты.</div>
										</div>

										<div class="need-doc-list__item">
											<div class="need-doc-list__title">Скидки</div>

											<div class="need-doc-list__text">Предоставление корпоративных скидок (согласно договору).</div>
										</div>

										<div class="need-doc-list__item">
											<div class="need-doc-list__title">Бесплатную доставка билетов</div>

											<div class="need-doc-list__text">Доставка ж/д и авиабилетов по городу.</div>
										</div>
									</div>

									<div class="need-doc__btn">
										<a href="#" class="btn btn_green">Оставить заявку</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section><!-- end need-doc -->

				<section class="check-doc check-doc_right">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div id="call-specialist"></div>
								<div class="check-doc__content">
									<div class="check-doc__img" style="bottom: 0; top: auto; transform: none;"><img src="upload/man_phone.png" alt=""></div>

									<div class="check-doc__info">
										<div class="check-doc__title">Нет времени приехать к нам в офис?</div>

										<div class="check-doc__text">Вызовите визового специалиста</div>

										<a href="#" class="btn btn_border btn_white">Вызвать специалиста</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section><!-- end check-doc -->

				<section class="advant-wrap advant-wrap_no-bg">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="advant animate">
									<div class="advant__item">
										<div class="advant__icon">
											<img src="upload/ic-cash.png" alt="">
											<div class="advant__circle"></div>
										</div>

										<div class="advant__head">Экономия более 20 000 P</div>

										<div class="advant__text">Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности.</div>
									</div>

									<div class="advant__item">
										<div class="advant__icon">
											<img src="upload/ic-clock.png" alt="">
											<div class="advant__circle"></div>
										</div>

										<div class="advant__head">Пример преимущества</div>

										<div class="advant__text">Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности.</div>
									</div>

									<div class="advant__item">
										<div class="advant__icon">
											<img src="upload/ic-book.png" alt="">
											<div class="advant__circle"></div>
										</div>

										<div class="advant__head">Быстро комфортно</div>

										<div class="advant__text">Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section><!-- end advant-wrap -->
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
