<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Содержание</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<p style="margin-top: 50px;">Содержание</p>

							<ul>
								<li><a href="main.html">Главная</a></li>
								<li><a href="tipografika.html">Типографика</a></li>
							</ul>
						</div>
					</div>
				</div>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
