<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Главная страница</title>
	//= ../header/header-link.html
	</head>
	<body class="js-body">
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<section class="visa-process">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-xl-7">
								<div class="visa-process__info">
									<div class="visa-process__head">
										<div class="visa-process__title">Оформление шенгенских виз</div>
										<div class="visa-process__subtitle">в Санкт-Петербурге</div>
									</div>

									<div class="visa-process__img">
										<img src="upload/pasport.png" alt="">
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-xl-5">
								<div class="type-visa-wrap">
									<div class="type-visa">
										<div class="type-visa__head">Шенгенские визы</div>

										<ul class="list-blue">
											<li><a href="#">Виза в Финляндию</a>
											<li><a href="#">Виза в Литву</a></li>
											<li><a href="#">Виза в Эстонию</a></li>
											<li><a href="#">Виза в Испанию</a></li>
											<li><a href="#">Виза во Францию</a></li>
										</ul>
									</div>

									<div class="type-visa">
										<div class="type-visa__head">Визы стран Азии</div>

										<ul class="list-blue">
											<li><a href="#">Виза в Китай</a></li>
											<li><a href="#">Виза в Японию</a></li>
											<li><a href="#">Виза в Австралию</a></li>
											<li><a href="#">Виза в Индию</a></li>
										</ul>
									</div>

									<div class="type-visa">
										<div class="type-visa__head">Визы в Америку</div>

										<ul class="list-blue">
											<li><a href="#">Виза в США</a></li>
											<li><a href="#">Виза в Канаду</a></li>
											<li><a href="#">Виза в Аргентину</a></li>
										</ul>
									</div>

									<div class="type-visa-link">
										<div class="type-visa-link__item">
											<div class="type-visa-link__icon"><img src="upload/ic-fire.png" alt=""></div>

											<div class="type-visa-link__text"><a href="`#">Срочная виза</a></div>
										</div>

										<div class="type-visa-link__item">
											<div class="type-visa-link__icon"><img src="upload/ic-refusal.png" alt=""></div>

											<div class="type-visa-link__text"><a href="`#">Работа с отказами</a></div>
										</div>
									</div>

									<div class="type-visa-btn">
										<a data-fancybox="" data-src="#visa-online" href="javascript:;" class="btn btn_green">Заказать визу онлайн</a>
										<a data-fancybox="" data-src="#ask-question" href="javascript:;" class="btn btn_border">Задать вопрос</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Форма виза онлайн -->
					<div style="display: none;" id="visa-online" class="popup-step">
						<div class="popup-step__content">
							<div class="tabs-step js-tabs-step">
								<ul class="tabs-step__list js-tabs-step-list">
									<li class="tabs-step__item js-tabs-step-item" data-item="tab-step1">
										<div class="tabs-step__num">1</div>
										<div class="tabs-step__title">Заполните общие данные</div>
									</li>
									<li class="tabs-step__item js-tabs-step-item" data-item="tab-step2">
										<div class="tabs-step__num">2</div>
										<div class="tabs-step__title">Паспортные данные</div>
									</li>
									<li class="tabs-step__item js-tabs-step-item" data-item="tab-step3">
										<div class="tabs-step__num">3</div>
										<div class="tabs-step__title">Название третьего шага</div>
									</li>
								</ul>

								<div class="tabs-step__content js-tabs-step-content">
									<div id="tab-step1" class="tabs-step__content-item js-tabs-step-content-item">
										 <form method="get" class="form-step">
											<div class="form-step__content">
												<div class="form-step__item">
													<div class="form-step__label">Выберите страну</div>
													<select id="contry" class="select-site js-select" data-placeholder="Выберите из списка">
														<option></option>
														<option value="Amtel">Вариант 1</option>
														<option value="Barum">Вариант 2</option>
													</select>
												</div>

												<div class="form-step__item">
													<div class="form-step__label">Уточните количество виз</div>
													<select id="count" class="select-site js-select" data-placeholder="Взрослые 1, без детей">
														<option></option>
														<option value="Amtel">Взрослые 2</option>
														<option value="Barum">Взрослые 3</option>
													</select>
												</div>

												<div class="form-step__item">
													<div class="form-step__label">Выберите тип страховки</div>
													<select id="type-visa" class="select-site js-select" data-placeholder="Выберите страховую компанию">
														<option></option>
														<option value="Amtel">Вариант 1</option>
														<option value="Barum">Вариант 2</option>
													</select>
												</div>

												<div class="form-step__item">
													<div class="form-step__label">Количество дней</div>
													<select id="days" class="select-site js-select" data-placeholder="30 дней">
														<option></option>
														<option value="Amtel">14 дней</option>
														<option value="Barum">7 дней</option>
													</select>
												</div>

												<div class="form-step__item">
													<div class="form-step__label">Когда бы вы хотели посетить консультсво (ВЦ)?</div>
													<select id="visa-center" class="select-site js-select" data-placeholder="Выберите дату посещения ВЦ">
														<option></option>
														<option value="Amtel">Вариант 1</option>
														<option value="Barum">Вариант 2</option>
													</select>
												</div>

												<div class="form-step__item">
													<div class="form-step__label">Время</div>
													<input type="text" placeholder="с 8 до 16:00">
												</div>

												<div class="form-step__item">
													<div class="form-step__label">Контактный E-mail:</div>
													<input type="email" placeholder="Напишите электронную почту">
												</div>

												<div class="form-step__item">
													<div class="form-step__label">Телефон</div>
													<input type="text" placeholder="Напишите свой телефон" class="js-phone">
												</div>
											</div>

											<div class="form-step__btn">
												<input type="submit" value="Далее" class="btn btn_border btn_white">

												<div class="form-step__polit">
													<div class="input-check">
														<input type="checkbox" id="polit3" checked="checked">
														<label for="polit3" class="input-check__label"><span class="input-check__mark"></span><span class="input-check__text">Даю согласие на обработку <a href="#">персональных данных</a></span></label>
													</div>
												</div>
											</div>
										</form>
									</div>

									<div id="tab-step2" class="tabs-step__content-item js-tabs-step-content-item">
										 Паспортные данные
									</div>

									<div id="tab-step3" class="tabs-step__content-item js-tabs-step-content-item">
										Третий шаг
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</section><!-- end visa-process -->

				<section class="card-list">
					<div id="order-online"></div>

					<div class="container">
						<div class="row">
							<div class="col-md-6 col-lg-3">
								<a href="#" class="card-list__item">
									<div class="card-list__content">
										<div class="card-list__tag">онлайн</div>
										<div class="card-list__name">Финская шенген&nbsp;виза</div>
										<div class="card-list__price">от 5 240 руб.</div>
									</div>

									<span class="btn btn_border btn_green">Подробнее</span>
								</a>
							</div>

							<div class="col-md-6 col-lg-3">
								<a href="#" class="card-list__item">
									<div class="card-list__content">
										<div class="card-list__tag">онлайн</div>
										<div class="card-list__name">Зеленая карта Green Card</div>
										<div class="card-list__price">от 2 700 руб.</div>
									</div>

									<span class="btn btn_border btn_green">Подробнее</span>
								</a>
							</div>

							<div class="col-md-6 col-lg-3">
								<a href="#" class="card-list__item">
									<div class="card-list__content">
										<div class="card-list__tag">онлайн</div>
										<div class="card-list__name">Страхование туриста</div>
										<div class="card-list__price">от 550 руб.</div>
									</div>

									<span class="btn btn_border btn_green">Подробнее</span>
								</a>
							</div>

							<div class="col-md-6 col-lg-3">
								<a href="#" class="card-list__item">
									<div class="card-list__content">
										<div class="card-list__tag">от 15 дней</div>
										<div class="card-list__name">Загранпаспорт</div>
										<div class="card-list__price">от 4 540 руб.</div>
									</div>

									<span class="btn btn_border btn_green">Подробнее</span>
								</a>
							</div>
						</div>
					</div>
				</section><!-- end card-list -->

				<section class="offer bg-grey">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-lg-4">
								<div class="offer__item">
									<div class="offer__content">
										<div class="offer__head">Страхование</div>

										<ul class="list-blue">
											<li><a href="#">Зеленая карта</a></li>
											<li><a href="#">Страхование в поезде</a></li>
											<li><a href="#">Страхование багажа</a></li>
											<li><a href="#">Страхование здоровья</a></li>
											<li><a href="#">Страхование жилья</a></li>
										</ul>
									</div>

									<div class="offer__price"><a href="#" class="link-green">Зеленая карта — от 900 рублей</a></div>
								</div>
							</div>

							<div class="col-md-6 col-lg-4">
								<div class="offer__item">
									<div class="offer__content">
										<div class="offer__head">Загранпаспорт</div>

										<ul class="list-blue">
											<li><a href="#">Оформление загранпаспорта</a></li>
											<li><a href="#">Загранпаспорт для иногородних</a></li>
											<li><a href="#">Загранпаспорт нового образца</a></li>
											<li><a href="#">Загранпаспорт старого образца</a></li>
										</ul>
									</div>

									<div class="offer__price"><a href="#" class="link-green">Зеленая карта — от 900 рублей</a></div>
								</div>
							</div>

							<div class="col-md-6 col-lg-4">
								<div class="offer__item">
									<div class="offer__content">
										<div class="offer__head">Корп. обслуживание</div>

										<ul class="list-blue">
											<li><a href="#">Оформление загранпаспорта</a></li>
											<li><a href="#">Загранпаспорт для иногородних</a></li>
											<li><a href="#">Восстановление</a></li>
										</ul>
									</div>

									<div class="offer__price"><a href="#" class="link-green">Зеленая карта — от 900 рублей</a></div>
								</div>
							</div>
						</div>
					</div>
				</section><!-- end offer -->

				<section class="steps-wrap bg-grey">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h1 h-text-center">Получить шенгенскую визу просто</div>

								<div class="steps animate">
									<div class="steps__item steps__item_one">
										<div class="steps__icon">
											<img src="upload/ic-doc.png" alt="">
											<div class="steps__circle"></div>
										</div>

										<div class="steps__head">Вы собираете документы</div>

										<div class="steps__text">Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности.</div>
									</div>

									<div class="steps__item steps__item_two">
										<div class="steps__icon">
											<img src="upload/ic-doc.png" alt="">
											<div class="steps__circle"></div>
										</div>

										<div class="steps__head">Наш специалист приезжает к вам</div>

										<div class="steps__text">Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности.</div>
									</div>

									<div class="steps__item steps__item_three">
										<div class="steps__icon">
											<img src="upload/ic-doc.png" alt="">
											<div class="steps__circle"></div>
										</div>

										<div class="steps__head">Через 7 дней вы получаете визу</div>

										<div class="steps__text">Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section><!-- end steps-wrap -->

				<section class="need-doc">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h1 h-text-center">Необходимые документы</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="need-doc__img">
									<img src="upload/need-doc.png" alt="" style="margin-top: -95px;">
								</div>
							</div>

							<div class="col-md-5">
								<div class="need-doc__content">
									<div class="need-doc-list">
										<div class="need-doc-list__item">
											<div class="need-doc-list__title">Заграничный паспорт</div>

											<div class="need-doc-list__text">
												Туристическая виза (L) - не менее 6 мес.<br>
												Мультивиза, гoдoвая (М) - не менее 1 гoда и 3 месяцев
											</div>
										</div>

										<div class="need-doc-list__item">
											<div class="need-doc-list__title">Копия российского паспорта</div>

											<div class="need-doc-list__text">Первый разворот паспорта и все страницы с пропиской</div>
										</div>

										<div class="need-doc-list__item">
											<div class="need-doc-list__title">1 цветное фото на светлом фоне</div>

											<div class="need-doc-list__text">Повседневная практика показывает,  структура.</div>
										</div>

										<div class="need-doc-list__item">
											<div class="need-doc-list__title">Заполнить опросник</div>

											<div class="need-doc-list__text">Активом позволяет оценить значение форм развития.</div>
										</div>
									</div>

									<div class="need-doc__btn">
										<a href="#" class="btn btn_green">Скачать опросник</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section><!-- end need-doc -->

				<section class="check-doc">
					<div id="check-doc"></div>
					
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="check-doc__content">
									<div class="check-doc__info">
										<div class="check-doc__title">Собрали документы? Давайте проверим</div>

										<div class="check-doc__text">Сфотографируйте на свой смартфон фото собранных документов и отправьте нам</div>

										<a href="#" class="btn btn_border btn_white">Отправить документы на проверку</a>
									</div>

									<div class="check-doc__img"><img src="upload/phone.png" alt=""></div>
								</div>
							</div>
						</div>
					</div>
				</section><!-- end check-doc -->

				<section class="design-block">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div id="leave-request"></div>

								<div class="h1">Получение визы через PITERVISA</div>

								<div class="design-block__text">Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Разнообразный и богатый опыт сложившаяся структура организации требуют определения и уточнения модели развития.</div>

								<div class="design-block__btn"><a href="#" class="btn btn_green">Оформите визу на сайте</a></div>

								<div class="design-block__sep">или</div>

								<div class="design-block__link"><a href="#">Оставьте заявку на оформление</a></div>
							</div>
						</div>
					</div>
				</section><!-- end design-block -->

				<section class="problems-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h1 h-text-center">Мы избавим вас от 8 проблем</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-10 offset-lg-1">
								<div class="problems">
									<div class="problems__item">
										<div class="problems__icon">
											<img src="upload/ic-plane.png" alt="">
										</div>

										<div class="problems__content">
											<div class="problems__title">Билет на самолет</div>

											<div class="problems__text">Обучения кадров, соответствует насущным потребностям. Повседневная практика показывает.</div>
										</div>
									</div>
								
									<div class="problems__item">
										<div class="problems__icon">
											<img src="upload/ic-plane.png" alt="">
										</div>

										<div class="problems__content">
											<div class="problems__title">Анкета консульства</div>
											
											<div class="problems__text">Обучения кадров, соответствует насущным потребностям. Повседневная практика показывает.</div>
										</div>
									</div>
								
									<div class="problems__item">
										<div class="problems__icon">
											<img src="upload/ic-plane.png" alt="">
										</div>

										<div class="problems__content">
											<div class="problems__title">Бронь отеля</div>
											
											<div class="problems__text">Обучения кадров, соответствует насущным потребностям. Повседневная практика показывает.</div>
										</div>
									</div>
								
									<div class="problems__item">
										<div class="problems__icon">
											<img src="upload/ic-plane.png" alt="">
										</div>

										<div class="problems__content">
											<div class="problems__title">Очереди</div>
											
											<div class="problems__text">Обучения кадров, соответствует насущным потребностям. Повседневная практика показывает.</div>
										</div>
									</div>
								
									<div class="problems__item">
										<div class="problems__icon">
											<img src="upload/ic-plane.png" alt="">
										</div>

										<div class="problems__content">
											<div class="problems__title">Страховка</div>
											
											<div class="problems__text">Обучения кадров, соответствует насущным потребностям. Повседневная практика показывает.</div>
										</div>
									</div>
								
									<div class="problems__item">
										<div class="problems__icon">
											<img src="upload/ic-plane.png" alt="">
										</div>

										<div class="problems__content">
											<div class="problems__title">Оплата визового сбора</div>
											
											<div class="problems__text">Обучения кадров, соответствует насущным потребностям. Повседневная практика показывает.</div>
										</div>
									</div>
								
									<div class="problems__item">
										<div class="problems__icon">
											<img src="upload/ic-plane.png" alt="">
										</div>

										<div class="problems__content">
											<div class="problems__title">Пакет документов</div>
											
											<div class="problems__text">Обучения кадров, соответствует насущным потребностям. Повседневная практика показывает.</div>
										</div>
									</div>
								
									<div class="problems__item">
										<div class="problems__icon">
											<img src="upload/ic-plane.png" alt="">
										</div>

										<div class="problems__content">
											<div class="problems__title">Вероятность отказа</div>
											
											<div class="problems__text">Обучения кадров, соответствует насущным потребностям. Повседневная практика показывает.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section><!-- end problems-wrap -->

				<section class="advant-wrap">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h1 h-text-center">Преимущества работы с нами</div>

								<div class="advant animate">
									<div class="advant__item">
										<div class="advant__icon">
											<img src="upload/ic-cash.png" alt="">
											<div class="advant__circle"></div>
										</div>

										<div class="advant__head">Экономия более 20 000 P</div>

										<div class="advant__text">Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности.</div>
									</div>

									<div class="advant__item">
										<div class="advant__icon">
											<img src="upload/ic-clock.png" alt="">
											<div class="advant__circle"></div>
										</div>

										<div class="advant__head">Пример преимущества</div>

										<div class="advant__text">Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности.</div>
									</div>

									<div class="advant__item">
										<div class="advant__icon">
											<img src="upload/ic-book.png" alt="">
											<div class="advant__circle"></div>
										</div>

										<div class="advant__head">Быстро комфортно</div>

										<div class="advant__text">Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section><!-- end advant-wrap -->

				<section class="review-slider-wrap bg-grey">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h1 h-text-center">Отзывы наших клиентов</div>

								<div class="review-slider js-review-slider">
									<div class="review-slider__item">
										<div class="review-slider__top">
											<div class="review-slider__icon" style="background-image: url(upload/man.jpg)">
												<div class="review-slider__label review-slider__label_vk"></div>
											</div>

											<div class="review-slider__info">
												<div class="review-slider__name">Владимир Ромашкин</div>
												<div class="review-slider__address">г. Череповец</div>
											</div>
										</div>

										<div class="review-slider__text">Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.</div>
									</div>

									<div class="review-slider__item">
										<div class="review-slider__top">
											<div class="review-slider__icon" style="background-image: url(upload/woman.jpg)">
												<div class="review-slider__label review-slider__label_vk"></div>
											</div>

											<div class="review-slider__info">
												<div class="review-slider__name">Наталья Фролова</div>
												<div class="review-slider__address">г. Оренбург</div>
											</div>
										</div>

										<div class="review-slider__text">Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.</div>
									</div>

									<div class="review-slider__item">
										<div class="review-slider__top">
											<div class="review-slider__icon" style="background-image: url(upload/man.jpg)">
												<div class="review-slider__label review-slider__label_fb"></div>
											</div>

											<div class="review-slider__info">
												<div class="review-slider__name">Владимир Ромашкин2</div>
												<div class="review-slider__address">г. Череповец</div>
											</div>
										</div>

										<div class="review-slider__text">Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.</div>
									</div>

									<div class="review-slider__item">
										<div class="review-slider__top">
											<div class="review-slider__icon" style="background-image: url(upload/woman.jpg)">
												<div class="review-slider__label review-slider__label_vk"></div>
											</div>

											<div class="review-slider__info">
												<div class="review-slider__name">Наталья Фролова2</div>
												<div class="review-slider__address">г. Оренбург</div>
											</div>
										</div>

										<div class="review-slider__text">Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.</div>
									</div>

									<div class="review-slider__item">
										<div class="review-slider__top">
											<div class="review-slider__icon" style="background-image: url(upload/man.jpg)">
												<div class="review-slider__label review-slider__label_in"></div>
											</div>

											<div class="review-slider__info">
												<div class="review-slider__name">Владимир Ромашкин3</div>
												<div class="review-slider__address">г. Череповец</div>
											</div>
										</div>

										<div class="review-slider__text">Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.</div>
									</div>

									<div class="review-slider__item">
										<div class="review-slider__top">
											<div class="review-slider__icon" style="background-image: url(upload/woman.jpg)">
												<div class="review-slider__label review-slider__label_vk"></div>
											</div>

											<div class="review-slider__info">
												<div class="review-slider__name">Наталья Фролова3</div>
												<div class="review-slider__address">г. Оренбург</div>
											</div>
										</div>

										<div class="review-slider__text">Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.</div>
									</div>

									<div class="review-slider__item">
										<div class="review-slider__top">
											<div class="review-slider__icon" style="background-image: url(upload/man.jpg)">
												<div class="review-slider__label review-slider__label_vk"></div>
											</div>

											<div class="review-slider__info">
												<div class="review-slider__name">Владимир Ромашкин4</div>
												<div class="review-slider__address">г. Череповец</div>
											</div>
										</div>

										<div class="review-slider__text">Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.</div>
									</div>

									<div class="review-slider__item">
										<div class="review-slider__top">
											<div class="review-slider__icon" style="background-image: url(upload/woman.jpg)">
												<div class="review-slider__label review-slider__label_vk"></div>
											</div>

											<div class="review-slider__info">
												<div class="review-slider__name">Наталья Фролова4</div>
												<div class="review-slider__address">г. Оренбург</div>
											</div>
										</div>

										<div class="review-slider__text">Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.</div>
									</div>

									<div class="review-slider__item">
										<div class="review-slider__top">
											<div class="review-slider__icon" style="background-image: url(upload/man.jpg)">
												<div class="review-slider__label review-slider__label_vk"></div>
											</div>

											<div class="review-slider__info">
												<div class="review-slider__name">Владимир Ромашкин5</div>
												<div class="review-slider__address">г. Череповец</div>
											</div>
										</div>

										<div class="review-slider__text">Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.</div>
									</div>

									<div class="review-slider__item">
										<div class="review-slider__top">
											<div class="review-slider__icon" style="background-image: url(upload/woman.jpg)">
												<div class="review-slider__label review-slider__label_vk"></div>
											</div>

											<div class="review-slider__info">
												<div class="review-slider__name">Наталья Фролова5</div>
												<div class="review-slider__address">г. Оренбург</div>
											</div>
										</div>

										<div class="review-slider__text">Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.</div>
									</div>

									<div class="review-slider__item">
										<div class="review-slider__top">
											<div class="review-slider__icon" style="background-image: url(upload/man.jpg)">
												<div class="review-slider__label review-slider__label_vk"></div>
											</div>

											<div class="review-slider__info">
												<div class="review-slider__name">Владимир Ромашкин6</div>
												<div class="review-slider__address">г. Череповец</div>
											</div>
										</div>

										<div class="review-slider__text">Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.</div>
									</div>

									<div class="review-slider__item">
										<div class="review-slider__top">
											<div class="review-slider__icon" style="background-image: url(upload/woman.jpg)">
												<div class="review-slider__label review-slider__label_vk"></div>
											</div>

											<div class="review-slider__info">
												<div class="review-slider__name">Наталья Фролова6</div>
												<div class="review-slider__address">г. Оренбург</div>
											</div>
										</div>

										<div class="review-slider__text">Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section><!-- end review-slider-wrap -->

				<section class="check-doc check-doc_right">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div id="call-specialist"></div>
								<div class="check-doc__content">
									<div class="check-doc__img" style="bottom: 0; top: auto; transform: none;"><img src="upload/man_phone.png" alt=""></div>

									<div class="check-doc__info">
										<div class="check-doc__title">Нет времени приехать к нам в офис?</div>

										<div class="check-doc__text">Вызовите визового специалиста</div>

										<a href="#" class="btn btn_border btn_white">Вызвать специалиста</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section><!-- end check-doc -->

				<section class="faq-wrap bg-grey">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h1 h-text-center">Частые вопросы наших клиентов</div>

								<div class="unwrap-block js-unwrap-block">
									<div class="unwrap-block__head js-unwrap-head">Могу ли я получить визу без своего присутствия?</div>
									<div class="unwrap-block__content js-unwrap-content">
										Значимость этих проблем настолько очевидна, что сложившаяся структура организации требуют от нас анализа дальнейших направлений развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание направлений прогрессивного развития.
									</div>
								</div>

								<div class="unwrap-block js-unwrap-block">
									<div class="unwrap-block__head js-unwrap-head">Зачем нужна выписка со счета в банке и справка с работы?</div>
									<div class="unwrap-block__content js-unwrap-content">
										Значимость этих проблем настолько очевидна, что сложившаяся структура организации требуют от нас анализа дальнейших направлений развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание направлений прогрессивного развития.
									</div>
								</div>

								<div class="unwrap-block js-unwrap-block">
									<div class="unwrap-block__head js-unwrap-head">Нужна ли медицинская страховка и что это такое?</div>
									<div class="unwrap-block__content js-unwrap-content">
										Значимость этих проблем настолько очевидна, что сложившаяся структура организации требуют от нас анализа дальнейших направлений развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание направлений прогрессивного развития.
									</div>
								</div>

								<div class="unwrap-block js-unwrap-block">
									<div class="unwrap-block__head js-unwrap-head">Каковы случаи отказов (неважно какая страна)?</div>
									<div class="unwrap-block__content js-unwrap-content">
										Значимость этих проблем настолько очевидна, что сложившаяся структура организации требуют от нас анализа дальнейших направлений развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание направлений прогрессивного развития.
									</div>
								</div>
							</div>
						</div>
					</div>
				</section><!-- end faq-wrap -->

				<section class="check-doc">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="check-doc__content">
									<div class="check-doc__info">
										<div class="check-doc__title">У вас есть вопросы или нужна консультация?</div>

										<div class="check-doc__text">Позвоните нам или оставьте заявку, наши менеджеры свяжуться с вами и проконсультируют по всем интересующим вас вопросами.</div>

										<div class="check-doc__btn">
											<a href="#" class="btn btn_border btn_white">Задать вопрос</a>
											<div class="check-doc__phone"><a href="tel:+78002003020">8 800 200 30 20</a></div>
										</div>
									</div>

									<div class="check-doc__img" style="bottom: 0; top: auto; transform: none;"><img src="upload/girl_call.png" alt=""></div>
								</div>
							</div>
						</div>
					</div>
				</section><!-- end check-doc -->

				<section class="info-block">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h1 h-text-center">Сео заголовок</div>

								<p>С другой стороны консультация с широким активом требуют определения и уточнения дальнейших направлений развития. Повседневная практика показывает, что сложившаяся структура организации способствует подготовки и реализации систем массового участия. Равным образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации форм развития.</p>

								<p>Разнообразный и богатый опыт новая модель организационной деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности в значительной степени обуславливает создание новых предложений. Задача организации, в особенности же сложившаяся структура организации способствует подготовки и реализации новых предложений.</p>

								<p>Товарищи! укрепление и развитие структуры требуют определения и уточнения дальнейших направлений развития. Таким образом укрепление и развитие структуры представляет собой интересный эксперимент проверки дальнейших направлений развития. </p>
							</div>
						</div>
					</div>
				</section><!-- end info-block -->
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
