<header>
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header-top__content">
						<div class="header-top__slogan">Оформление шенгенских виз в Санкт-Петербурге или другой текст</div>

						<nav class="top-menu">
							<ul class="top-menu__list">
								<li class="top-menu__item">
									<a href="#">Услуги<span class="top-menu__arr"></span></a>

									<ul class="top-menu__sub">
										<li class="top-menu__sub-item"><a href="#">Услуга 1</a></li>
										<li class="top-menu__sub-item"><a href="#">Услуга 2</a></li>
										<li class="top-menu__sub-item"><a href="#">Услуга 3</a></li>
										<li class="top-menu__sub-item"><a href="#">Услуга 4</a></li>
										<li class="top-menu__sub-item"><a href="#">Услуга 5</a></li>
									</ul>
								</li>
								<li class="top-menu__item"><a href="#">FAQ</a></li>
								<li class="top-menu__item"><a href="#">Отзывы</a></li>
								<li class="top-menu__item"><a href="#">Агентам</a></li>
								<li class="top-menu__item"><a href="#">О компании</a></li>
								<li class="top-menu__item"><a href="#">Контакты</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div><!-- end header-top -->
	
	<div class="header-mid">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header-mid__content">
						<div class="header-mid__logo">
							<a href="/"><img src="img/logo.png" alt=""></a>
						</div>

						<a href="#" class="btn btn_border">Проверить готовность визы</a>

						<div class="header-mid__contact">
							<div class="header-mid__address">
								Бизнес центр «Сенатор»<br>
								н-я, Черной Речки, дом 31, офис Б-117
							</div>
							
							<div class="header-mid__mail">
								<a href="mailto:info@vizapiter.ru" class="link-green">info@vizapiter.ru</a>
							</div>
						</div>

						<div class="header-mid__phone">
							<a href="tel:+78005005555"><b>8 800 500 55 55</b></a><br>
							<a href="tel:+78129971870">+7 812 997 18 70</a>
						</div>

						<a href="#" class="btn btn_border">Заказать звонок</a>
					</div>
				</div>
			</div>
		</div>
	</div><!-- end header-mid -->

	<div class="header-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="main-menu">
						<ul class="main-menu__list">
							<li class="main-menu__item"><a href="#">Заказать визу онлайн</a></li>
							<li class="main-menu__item"><a href="#">Оставить заявку на оформление</a></li>
							<li class="main-menu__item"><a href="#">Проверить документы</a></li>
							<li class="main-menu__item"><a href="#">Вызвать визового специалиста</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div><!-- end header-bottom -->
</header>