<div class="shadow-site d-lg-none js-shadow"></div>

<header>
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header-top__content">
						<div class="header-top__slogan">Оформление шенгенских виз в Санкт-Петербурге или другой текст</div>

						<nav class="top-menu js-add-mm" data-order="1">
							<ul class="top-menu__list js-top-menu">
								<li class="top-menu__item js-top-menu-item">
									<a href="#" class="top-menu__link js-top-menu-link"><span class="js-top-menu-text">Услуги</span><span class="top-menu__arr js-top-menu-arr"></span></a>

									<ul class="top-menu__sub">
										<li class="top-menu__sub-item"><a href="#">Название услуги может быть в две строки</a></li>
										<li class="top-menu__sub-item"><a href="#">Название услуги</a></li>
										<li class="top-menu__sub-item"><a href="#">Название услуги</a></li>
									</ul>
								</li>
								<li class="top-menu__item js-top-menu-item"><a href="#" class="top-menu__link js-top-menu-link"><span class="js-top-menu-text">FAQ</span></a></li>
								<li class="top-menu__item js-top-menu-item"><a href="#" class="top-menu__link js-top-menu-link"><span class="js-top-menu-text">Отзывы</span></a></li>
								<li class="top-menu__item js-top-menu-item"><a href="#" class="top-menu__link js-top-menu-link"><span class="js-top-menu-text">Агентам</span></a></li>
								<li class="top-menu__item js-top-menu-item"><a href="#" class="top-menu__link js-top-menu-link"><span class="js-top-menu-text">О компании</span></a></li>
								<li class="top-menu__item js-top-menu-item"><a href="#" class="top-menu__link js-top-menu-link"><span class="js-top-menu-text">Контакты</span></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div><!-- end header-top -->
	
	<div class="header-mid">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header-mid__content">
						<div class="header-mid__logo">
							<a href="/"><img src="img/logo.png" alt=""></a>
						</div>

						<a href="#" class="btn btn_border d-none d-xl-inline-block">Проверить готовность визы</a>

						<div class="header-mid__contact js-add-mm" data-order="2">
							<div class="header-mid__address">
								Бизнес центр «Сенатор»<br>
								н-я, Черной Речки, дом 31, офис Б-117
							</div>
							
							<div class="header-mid__mail">
								<a href="mailto:info@vizapiter.ru" class="link-green">info@vizapiter.ru</a>
							</div>
						</div>

						<div class="header-mid__phone js-add-mm" data-order="3">
							<a href="tel:+78005005555"><b>8 800 500 55 55</b></a><br>
							<a href="tel:+78129971870">+7 812 997 18 70</a>
						</div>

						<a data-fancybox="" data-src="#feedback-form" href="javascript:;" class="btn btn_border js-add-mm" data-order="4">Заказать звонок</a>

						<span class="ic-hamburger js-open-menu d-inline-block d-lg-none"><span></span></span>
					</div>
				</div>
			</div>
		</div>
	</div><!-- end header-mid -->

	<div class="header-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="main-menu">
						<ul class="main-menu__list">
							<li class="main-menu__item"><a href="#order-online" class="js-link-move">Заказать визу онлайн</a></li>
							<li class="main-menu__item"><a href="#leave-request" class="js-link-move">Оставить заявку на оформление</a></li>
							<li class="main-menu__item"><a href="#check-doc" class="js-link-move">Проверить документы</a></li>
							<li class="main-menu__item"><a href="#call-specialist" class="js-link-move">Вызвать визового специалиста</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div><!-- end header-bottom -->

	<div class="mobile-menu js-mobile-menu d-lg-none">
		<div class="mobile-menu__head">
			<div class="mobile-menu__title js-menu-back">Меню</div>
			<span class="ic-hamburger active js-close-menu"><span></span></span>
		</div>

		<div class="mobile-menu__content js-mobile-menu-content"></div>
	</div>
</header>